<a href="https://colab.research.google.com/github/Dwayne-tech/DML/blob/main/Employee_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}
employee_df = pd.DataFrame(data)

#Use the iloc method to select the first 3 rows
first_3_rows = employee_df.iloc[:3]
print("First 3 rows:\n", first_3_rows)

#Use the loc method to select all rows where the Department is "Marketing".
marketing_rows = employee_df.loc[employee_df['Department'] == 'Marketing']
print("\nRows where Department is Marketing:\n", marketing_rows)

#Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
age_gender_first_4 = employee_df.iloc[:4, [2, 3]]
print("Age and Gender for first 4 rows:\n", age_gender_first_4)

# Using loc to select Salary and Experience columns for all rows where Gender is "Male"
salary_experience_male = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]
print("Salary and Experience for Male:\n", salary_experience_male)

First 3 rows:
    Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

Rows where Department is Marketing:
    Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4
Age and Gender for first 4 rows:
    Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female
Salary and Experience for Male:
    Salary  Experience
0   50000           3
2   45000           2
4   70000          10